<div class="col-md-3 profile">
  <%= image_tag("profile.jpg", size: "150", alt: "Badges") %>
  <h2>Profile Name</h2>
  <h5>Member since 2015</h5>
  <h3>Settings <span class="glyphicon glyphicon-cog" aria-hidden="true"></span></h3>
  <ul>
    <li>Dashboard</li>
    <li>View Profile</li>
    <li>Account Setting</li>
  </ul>
</div>
<div class="col-md-9">
  <h2>Achievements</h2>
  <div class="row achievement">
      <div class="col-md-3"><div class="circle-1">0</div><p>Credit Earned</p></div>
      <div class="col-md-3"><div class="circle-2">0</div><p>Credit Given</p></div>
      <div class="col-md-3"><div class="circle-3">0</div><p>Saved in Lists</p></div>
      <div class="col-md-3"><div class="circle-4">0</div><p>Trusted by</p></div>
  </div>
  <h2>Badges</h2>
  <div class="row">
      <% @badges.each do |badge| %>
        <div class="col-md-4 col-lg-3">
          <div class="badge-box">
            <%= image_tag(badge.image, size: "150", alt: "Badges") %>
            <h3><%= badge.name %></h3>
          </div>
        </div>
      <% end %>
  </div>
</div>
