<div class="row home">
    <div class="col-xs-10 col-md-7 col-xs-offset-2 col-md-offset-3">
      <%= image_tag("logo.png", height: "200", alt: "Logo") %>
      <h1>Pulling Skills to Work for Impact-Driven Companies</h1>
      <%= link_to 'Sign in', new_user_session_path, :class => "signin" %>
      <small>New to Knack ? Learn more about it</small>
    </div>
</div>
