
<div class="col-md-3 profile">
  <%= image_tag("profile.jpg", size: "150", alt: "Badges") %>
  <h2>Profile Name</h2>
  <h5>Member since 2015</h5>
  <h3>Settings <span class="glyphicon glyphicon-cog" aria-hidden="true"></span></h3>
  <ul>
<<<<<<< HEAD
    <li>View Profile</li>
    <li>Account Setting</li>
    <li>My Jobs Posting</li>
    <li>Contacts & Lists</li>
    <li>Following</li>
    <li>Verification</li>
  <ul>
</div>
<div class="col-md-8 col-md-offset-1">
  <h2>Jobs Posting</h2>
  <div class="row">
      <div class="col-xs-12">
        <ul>
          <li>
            <h3>Dishwasher</h3><h4>Posted 3 days ago</h4>
          </li>
        </ul>
      </div>
  </div>
</div>


=======
    <li>Dashboard</li>
    <li>View Profile</li>
  <ul>
</div>
<div class="col-md-9">
  <h2>Classes Posting</h2>
  <div class="row tasks">
    <div class="col-xs-12">
      <% @classes.each do |course| %>
      	<ul class="course">
      		<li><h3><%= course.name %></h3></li>
      		<li>Max Capacity: <%= course.capacity %></li>
      	</ul>
      <% end %>
    </div>
  </div>
</div>
>>>>>>> 2d02f48e3418d9e883116d08153110709922aa1b
