// Place all the styles related to the Classes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.course{
   border-bottom:1px solid #eff5e7;
   text-transform: capitalize;
}
.courses h3{
  margin-top: 0px;
}
