// Place all the styles related to the Tasks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.tasks ul{
  list-style-type: none;
  width:100%;
  border-bottom:1px solid #eff5e7;
  padding:15px;
}
.tasks h3{
  color:#A4D65E;
}
