.ui-helper-hidden { display: none; }
.ui-helper-hidden-accessible { display:none; }
.ui-autocomplete { position: relative; float: left;}
.ui-menu {
  list-style: none;
  padding: 5px;
  margin: 0;
  display: block;
  background: #eee none no-repeat;
  outline: none;
}
